################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDS.PostBuild/obj/Debug
/TDS.Roles/bin/Package_Debug
/TDS.Roles/bin/Package_Release
/SitecoreExtensions.Setup/bin/Debug
/SitecoreExtensions.Setup/obj/Debug
/SitecoreExtensions.Setup/ToHarvestAssemblies
